@font-face {
  font-family: 'Permanent Marker';
  src: url('/static/fonts/PermanentMarker.woff2') format('woff2'),
       url('/static/fonts/PermanentMarker.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('/static/fonts/Caveat-Bold.woff2') format('woff2'),
       url('/static/fonts/Caveat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/static/fonts/Manrope.woff2') format('woff2'),
       url('/static/fonts/Manrope.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Semibold';
  src: url('/static/fonts/Manrope-Semibold.woff2') format('woff2'),
       url('/static/fonts/Manrope-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('/static/fonts/Oranienbaum-Regular.woff2') format('woff2'),
       url('/static/fonts/Oranienbaum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anime-ace';
  src: url('/static/fonts/anime-ace.woff2') format('woff2'),
       url('/static/fonts/anime-ace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}