# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальная среда
venv/
backend/venv/

# Databases, credentials
*.db
*.log
backend/tests.db
backend/credentials.json
.env

# OS junk
.DS_Store
Thumbs.db
.~lock.*

# Node
node_modules/
dist/
build/
backend/.env
