# Секретный токен администратора
ADMIN_TOKEN=admin_token

# Путь к SQLite базе данных
DB_PATH=./tests.db

# ID Google таблицы
SHEET_ID=1BvPPrVUP2wRqT2JszTnJMgbR0ZAU1aljfX-cmI0wqVA

# JSON ключи сервис-аккаунта
GOOGLE_CREDENTIALS={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"...","auth_uri":"...","token_uri":"...","auth_provider_x509_cert_url":"...","client_x509_cert_url":"..."}

DISABLE_SSL_VERIFY=0
